.realty {
  flex-grow: 0;
  max-width: 14vw;
  max-height: 14vw;
  background-color: #FFFFFF;
  margin-right: .5vw;
  padding: 1vh 1vw 1vh 1vw;
}

.realty-type {
  color: #545558;
  text-transform: capitalize;
  font-size: .8em;
}